state-machines/expire-linkedin-credentials.asl.json
{
  "Comment": "Expire stored LinkedIn credentials",
  "StartAt": "Load Account",
  "States": {
    "Load Account": {
      "Type": "Task",
      "Resource": "${DynamoDbGetItem}",
      "Parameters": {
        "TableName": "${TableName}",
        "Key": {
          "pk": {
            "S.$": "$$.Execution.Input.accountId"
          },
          "sk": {
            "S": "account"
          }
        }
      },
      "Next": "Should Process?"
    },
    "Should Process?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Item",
          "IsPresent": false,
          "Next": "Account does not exist"
        },
        {
          "And": [
            {
              "Variable": "$.Item.linkedIn.M.status.S",
              "IsPresent": true
            },
            {
              "Variable": "$.Item.linkedIn.M.status.S",
              "StringEquals": "active"
            }
          ],
          "Next": "Send Expiration Email"
        }
      ],
      "Default": "Nothing to do"
    },
    "Account does not exist": {
      "Type": "Succeed"
    },
    "Nothing to do": {
      "Type": "Succeed"
    },
    "Send Expiration Email": {
      "Type": "Task",
      "Resource": "${EventBridgePutEvents}",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "to.$": "$.Item.contact.M.email.S",
              "subject": "[NOTICE] LinkedIn Credentials Expire Tomorrow!",
              "html": "<p>Your LinkedIn credentials expire tomorrow for the social media poster. Please sign in and reauthenticate. Failure to do so will result in an interruption of service.<p><p>Love,</p><p>Allen</p>"
            },
            "DetailType": "Send Email",
            "Source": "linkedin-expiration"
          }
        ]
      },
      "Next": "Set LinkedIn Status to Expired"
    },
    "Set LinkedIn Status to Expired": {
      "Type": "Task",
      "Resource": "${DynamoDbUpdateItem}",
      "Parameters": {
        "TableName": "${TableName}",
        "Key": {
          "pk": {
            "S.$": "$$.Execution.Input.accountId"
          },
          "sk": {
            "S": "account"
          }
        },
        "UpdateExpression": "SET #linkedIn.#status = :status",
        "ExpressionAttributeNames": {
          "#linkedIn": "linkedIn",
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "expired"
          }
        }
      },
      "End": true
    }
  }
}
