state-machines/send-social-post.asl.json
{
  "Comment": "Sends a social post",
  "StartAt": "Remove From Schedule",
  "States": {
    "Remove From Schedule": {
      "Type": "Task",
      "Resource": "${DynamoDbDeleteItem}",
      "Parameters": {
        "TableName": "${TableName}",
        "Key": {
          "pk": {
            "S.$": "$.referenceNumber"
          },
          "sk": {
            "S": "post"
          }
        }
      },
      "Next": "Switch Platform Type",
      "ResultPath": null
    },
    "Switch Platform Type": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.detail.platform",
              "IsPresent": true
            },
            {
              "Variable": "$.detail.platform",
              "IsString": true
            },
            {
              "Variable": "$.detail.platform",
              "StringEquals": "twitter"
            }
          ],
          "Next": "Has Twitter Media?"
        },
        {
          "And": [
            {
              "Variable": "$.detail.platform",
              "IsPresent": true
            },
            {
              "Variable": "$.detail.platform",
              "StringEquals": "discord"
            }
          ],
          "Next": "Has Discord Metadata?"
        }
      ],
      "Default": "Not Supported"
    },
    "Has Twitter Media?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.detail.image",
          "IsPresent": true,
          "Next": "Upload Image to Twitter"
        },
        {
          "Variable": "$.detail.video",
          "IsPresent": true,
          "Next": "Upload Video to Twitter"
        }
      ],
      "Default": "Send Twitter Post"
    },
    "Upload Image to Twitter": {
      "Type": "Task",
      "Resource": "${LambdaInvoke}",
      "Parameters": {
        "FunctionName": "${UploadImageToTwitter}",
        "Payload": {
          "accountId.$": "$.detail.accountId",
          "image.$": "$.detail.image"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.media",
      "ResultSelector": {
        "id.$": "$.Payload.mediaId"
      },
      "Next": "Send Twitter Post With Media"
    },
    "Upload Video to Twitter": {
      "Type": "Task",
      "Resource": "${LambdaInvoke}",
      "Parameters": {
        "FunctionName": "${UploadImageToTwitter}",
        "Payload": {
          "accountId.$": "$.detail.accountId",
          "video.$": "$.detail.video"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.media",
      "ResultSelector": {
        "id.$": "$.Payload.mediaId"
      },
      "Next": "Send Twitter Post With Media"
    },
    "Send Twitter Post With Media": {
      "Type": "Task",
      "Resource": "${LambdaInvoke}",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${SendTwitterPost}",
        "Payload": {
          "message.$": "$.detail.message",
          "accountId.$": "$.detail.accountId",
          "mediaId.$": "$.media.id"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Send Social Post Failed Event"
        }
      ],
      "Next": "Send Social Post Sent Event"
    },
    "Not Supported": {
      "Type": "Fail",
      "Error": "Platform.NotSupported",
      "Cause": "The provided platform is not supported"
    },
    "Send Twitter Post": {
      "Type": "Task",
      "Resource": "${LambdaInvoke}",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${SendTwitterPost}",
        "Payload": {
          "message.$": "$.detail.message",
          "accountId.$": "$.detail.accountId"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Send Social Post Failed Event"
        }
      ],
      "Next": "Send Social Post Sent Event"
    },
    "Send Social Post Sent Event": {
      "Type": "Task",
      "Resource": "${EventBridgePutEvents}",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "referenceNumber.$": "$$.Execution.Input.referenceNumber",
              "postId.$": "$.id",
              "accountId.$": "$$.Execution.Input.detail.accountId"
            },
            "DetailType": "Social Post Sent",
            "Source": "SocialPostSender"
          }
        ]
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Send Social Post Failed Event": {
      "Type": "Task",
      "Resource": "${EventBridgePutEvents}",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "referenceNumber.$": "$$.Execution.Input.referenceNumber",
              "accountId.$": "$$.Execution.Input.detail.accountId"
            },
            "DetailType": "Social Post Failed",
            "Source": "SocialPostSender"
          }
        ]
      },
      "Next": "Something went wrong"
    },
    "Something went wrong": {
      "Type": "Fail",
      "Error": "PostFailed",
      "Cause": "Something went wrong sending the post"
    },
    "Has Discord Metadata?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.detail.metadata",
          "IsPresent": true,
          "Next": "Send Discord Message"
        }
      ],
      "Default": "Send Discord Message With Metadata"
    },
    "Send Discord Message": {
      "Type": "Task",
      "Resource": "${LambdaInvoke}",
      "Parameters": {
        "FunctionName": "${SendDiscordMessage}",
        "Payload": {
          "message.$": "$.detail.message",
          "accountId.$": "$.detail.accountId"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Something went wrong"
        }
      ],
      "Next": "Success"
    },
    "Send Discord Message With Metadata": {
      "Type": "Task",
      "Resource": "${LambdaInvoke}",
      "Parameters": {
        "FunctionName": "${SendDiscordMessage}",
        "Payload": {
          "message.$": "$.detail.message",
          "accountId.$": "$.detail.accountId",
          "metadata.$": "$.detail.metadata"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Something went wrong"
        }
      ],
      "Next": "Success"
    }
  }
}
